.item_logo {
    height:50px;
    border-radius:2px;
    padding:1px;
    border:1px solid #D0D1D7;
    margin:auto 10px auto 0;
}

.m-b-5 {
    margin-bottom:5px;
}
.table th,.table >tbody> tr>td:first-child {
    text-align:center;
    background-color:#D0D1D7;
}
/*********************************************
*             Start Charts 
**********************************************/
.chart-legend {
    text-align:center;
}  
    .chart-legend ul {
            list-style: none;
            padding-left: 0px;
        }

        .chart-legend li {
            font-size: 11px;
            display: inline-block;
            margin: auto 5px;
        }

            .chart-legend li span {
                display: inline-block;
                width: 30px;
                height: 4px;
                margin-right: 5px;
            }


.chart_area {
    margin:50px auto;
    display:table;
    width:100%;
    max-width:600px;
}

/*********************************************
*            End Start Charts 
**********************************************/

#status_msg {
    font-size:2em;
    color:#D0D1D7
}